<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Document</title>
</head>
<body>

    <h1>Convert <span id="green">Spotify</span> Playlist to <span id="red">Youtube</span> Playlist</h1>
    <img src="/images/login.jpg" id="spotify">
    <script type="text/javascript">
        const spotifyButton = document.getElementById('spotify');
        spotifyButton.addEventListener('click', function () {
        window.location.href = '/auth';
        });
    </script>
</body>
</html>