#green {
    color: 	#1DB954;
}

#red {
    color: #FF0000;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

#spotify {
    color: white;
    width: 402px;
    height: 82px;
    cursor: pointer;
}

#convert {
    background-color: red;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 5%;
}

#bold {
    font-weight: 700;
}